*{
    margin: 0;
    padding: 0;
 }

body{
    background-color: #ac3c5a;
    font-family: cursive;

    margin-left: 20%;
    margin-right: 20%;
}

header{
    background-color: #ffbf2d;
    text-align: center;

    padding: 40px;
    height: 200px;
}

.title-1{
    color: white;
    font-size: 60px;
}

.address-1{
    margin-top: 4%;

    color: rgb(21, 18, 24);
    font-size: 23px;
}

nav{
    background-color: #472b5d;
    text-align: center;

    padding: 20px;
}

nav li{
    display: inline;
}

nav a{
    font-size: 20px;
    color: #fff;
    text-decoration: none;

    padding: 10px;
}

section{
    background-color: white;

    padding: 40px;
}

section h1{
    padding: 40px;

    font-size: 35px;
    text-align: center;
}

section p{
    line-height: 30px;
    margin-bottom: 10px;
}

table,td{
    padding: 10px;
}

tr,th{
    font-size: larger;
    padding: 25px;
}

.gluten-free{
    color: #adcf46;
}
.gluten-free .Spicy{
    color: #ab3939;
}
.Spicy{
    color: #d91d1d;
}

footer{
    background-color: #892143;
    padding: 10px;

    text-size-adjust: 3px;
    text-align: center;
    color: #fff;
}